In [ ]:
# settings.py
from dotenv import load_dotenv
load_dotenv()

# OR, the same with increased verbosity
load_dotenv(verbose=True)

# OR, explicitly providing path to '.env'
from pathlib import Path  # Python 3.6+ only
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

In [7]:
import tweepy
import webbrowser
import time
import pandas as pd

In [ ]:
import os
consumer_key = os.getenv("consumer_key")
consumer_secret = os.getenv("consumer_secret")

In [2]:
callback_uri = 'oob'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_uri)
redirect_url = auth.get_authorization_url()
print(redirect_url)
user_pin = input("What's the pin? ")
auth.get_access_token(user_pin)

https://api.twitter.com/oauth/authorize?oauth_token=hemLbAAAAAABH-8PAAABdMEwO6c
What's the pin? 1376336

('2191020356-Ci3pjwI7LEsS0uCV2r0KpmGfb25hijbGZKASzBS',
 'A5XZg7XFVD2p11PIPE5elbPKaAcpymVtflAzrPpVNHjA7')

In [5]:
api = tweepy.API(auth)

In [6]:
me = api.me()
me.screen_name

'sn4ckychan'

In [9]:
my_timeline = api.home_timeline()

In [20]:
columns = set()
allowed_types = [str, int]
tweets_data = []
for status in my_timeline:
#     print(type(vars(status)))
    status_dict = dict(vars(status))
    keys = status_dict.keys()
    single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
    for k in keys:
        v_type = type(status_dict[k])
        if v_type in allowed_types:
            single_tweet_data[k] = status_dict[k]
            columns.add(k)
    tweets_data.append(single_tweet_data)

header_cols = list(columns)
header_cols.append("user")
header_cols.append("author")

In [21]:
tweets_data

[{'user': 'sn4ckychan',
  'author': 'sn4ckychan',
  'id': 1309182103347748866,
  'id_str': '1309182103347748866',
  'text': 'This is as far as you go https://t.co/aPr4ONAUf3',
  'source': '',
  'retweet_count': 0,
  'favorite_count': 0,
  'lang': 'en'}]

In [33]:
df = pd.DataFrame(tweets_data, columns = header_cols)
df.head()

,retweet_count,lang,id,text,favorite_count,id_str,source,user,author
0,0,en,1309182103347748866,This is as far as you go https://t.co/aPr4ONAUf3,0,1309182103347748866,,sn4ckychan,sn4ckychan

In [55]:
def extract_timeline_as_df(timeline_list):
    columns = set()
    allowed_types = [str, int]
    tweets_data = []
    for status in timeline_list:
        status_dict = dict(vars(status))
        keys = status_dict.keys()
        single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
        for k in keys:
            try:
                v_type = type(status_dict[k])
            except:
                v_type = None
            if v_type != None:
                if v_type in allowed_types:
                    single_tweet_data[k] = status_dict[k]
                    columns.add(k)
        tweets_data.append(single_tweet_data)


    header_cols = list(columns)
    header_cols.append("user")
    header_cols.append('author')
    df = pd.DataFrame(tweets_data, columns=header_cols)
    return df

In [56]:
my_timeline = api.home_timeline()

In [57]:
df2 = extract_timeline_as_df(my_timeline)

In [58]:
df2.head()

,retweet_count,lang,id,text,favorite_count,id_str,source,user,author
0,0,en,1309182103347748866,This is as far as you go https://t.co/aPr4ONAUf3,0,1309182103347748866,,sn4ckychan,sn4ckychan

In [60]:
user = api.get_user("realDonaldTrump")
user_timeline = user.timeline()
df3 = extract_timeline_as_df(user_timeline)
df3.head()

,retweet_count,lang,source_url,text,id,favorite_count,id_str,source,user,author
0,3031,en,http://twitter.com/download/iphone,On my way to North Carolina! https://t.co/IHrU...,1309228568874872832,12817,1309228568874872832,Twitter for iPhone,realDonaldTrump,realDonaldTrump
1,10696,en,http://twitter.com/download/iphone,"Thank you Jacksonville, Florida. See you all T...",1309201382394781696,43975,1309201382394781696,Twitter for iPhone,realDonaldTrump,realDonaldTrump
2,5114,und,http://twitter.com/download/iphone,https://t.co/WwzdPhDkAZ,1309196764239495168,17566,1309196764239495168,Twitter for iPhone,realDonaldTrump,realDonaldTrump
3,27147,en,https://studio.twitter.com,"Thank you, I will never let you down! https://...",1309178282789793793,89842,1309178282789793793,Twitter Media Studio,realDonaldTrump,realDonaldTrump
4,6859,en,http://twitter.com/download/iphone,Vote-by-mail ballots in my home state of FLORI...,1309171857774477314,22799,1309171857774477314,Twitter for iPhone,realDonaldTrump,realDonaldTrump

NameError: name 'new_status' is not defined